* {
  margin: 0;
  padding: 0;
}
.calculatorBox {
  width: max(30vw, 300px);
  height: min(90vh, 1000px);
  background-color: black;
  margin: auto;
  position: relative;
  top: 5vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 90%;
  height: 10%;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 0px 4px 0px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

.currentKey {
  width: 90%;
  height: 10%;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  color: white;
  font-size: 25px;
  font-weight: 700;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 5px;
}

.keys {
  width: 90%;
  height: 80%;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 0px;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 900,
    "GRAD" 0,
    "opsz" 40;
}

.key {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  position: relative;
  transition: background-color 0.3s;
  user-select: none;
}

.key::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 0%;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -10;
  transition: height 0.5s;
}

.key:hover {
  transform: scale(1.1);
  color: white;
  background-color: black;
}

.key:hover::after {
  height: 100%;
}

.key:active {
  transform: scale(0.9);
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  .key {
    gap: 5px 0px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1176px) {
  .key {
    width: 57px;
    height: 57px;
  }
}

@media screen and (min-width: 1176px) {
  .key {
    width: 70px;
    height: 70px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
  .key {
    width: 80px;
    height: 80px;
    font-size: 37px;
  }
}

@media screen and (min-width: 1700px) {
  .key {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
}
